# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.log

# Django
*.migrations/
db.sqlite3
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Pipenv
Pipfile.lock

# Docker
*.pid
*.seed
*.tar
*.sock
*.db
__docker_build__/

# Git
*.swp
*.orig
.idea/
*.bak
